/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/

/* =====Pranav edits ========= */

.newh2{
  font-size: 1.5em;
}


:root{
  --header-height: 3rem;
  --font-semi: 600;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}




/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
  --bg-black-900:#000000;
  --bg-black-100:#dddddd;
  --bg-black-50: #eff0f4;
  --text-black-600:#666666;
  --text-black-700:#555555;
  --text-black-900:#000000;
  --text-black-300:#bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, 3px 3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: insert 3px 3px 3px #d0d0d0, insert -3px -3px -3px #f8f8f8;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --home-font-size: 1.5rem;
  --big-font-size1: 15px;
  --big-font-size2: 30px;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --circle-top:-140px;
  --circle-left:30%;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size1: 30px;
    --big-font-size2: 40px;
    --home-font-size: 3.5rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --circle-top:-70px;
    --circle-left:45%;
  }
}


/* effect wrap */

.effect-wrap .effect{
  position:absolute;
  z-index:99;
}
/* effect on bottom right */
.effect-1{
  width:30px;
  height:30px;
  border: 4px solid #8a49ff;
  right:10%;
  bottom:10%;
  animation: spin 10s linear infinite;
}
/* effect on right bottom*/
.effect-2{
  left:3%;
  bottom:20%;
  width: 40px;
  display:flex;;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div{
  height: 3px;
  width: 3px;
  background-color:#ff9c07;
  margin:0 3px 8px;

}
/* top effect circle */
.effect-3{
  height: 180px;
  width: 180px;
  border:25px solid red;
  border-radius: 50%;
  left: var(--circle-left);
  top: var(--circle-top);
  animation: leftBounce 3s ease-in-out infinite;
}
/* trangle effect */
.effect-4{
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 8%;
  top: 22%;
  animation: spin 15s linear infinite;
  display:none;
}
.effect-4:before{
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
/* near pic */
.effect-5{
  height:50px;
  width: 50px;
  right:10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 30s linear infinite;

}

.effect-5 div{
  width: 1px;
  background-color:#4dd0e1;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
      }
  }
@keyframes topBounce{
  0%,100%{
    transform:translateY(0);
    }
  50%{
    transform:translateY(25px);
      }

}

@keyframes leftBounce{
  0%,100%{
    transform:translateX(0);
    }
  50%{
    transform:translateX(25px);
      }

}


/* ++++++++shadow+++++++ */
.inner-shadow{
  /* box-shadow: insert 3px 3px 3px #d0d0d0, insert -3px -3px -3px #f8f8f8; */
}
.outer-shadow{
  /* -webkit-filter: drop-shadow(5px 5px 5px #000000); */
  filter: drop-shadow(6px 6px 6px #000000);
}



/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}



.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #353535;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);

}
@media screen and (max-width: 768px){

  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.typing{
  font-size: .67em;
}
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
  background-color: #353535;
}
.homebg{
  max-width: 100%;
  background-color: #353535;
  position: relative;
}


.home__data{
  align-self: center;
}

.home__title1{
  color:var(--text-black-300);
  font-size: var(--big-font-size1);
  text-transform: capitalize;
  margin: 0;
}

.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: #ffffff;
}
.home__title-color{
  color:var(--text-black-300);
  font-size: var(--home-font-size);
}
.home__title-color2{
  color: var(--first-color);
  font-size:var(--big-font-size2);
}

.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 200px;

}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* ===== ABOUT =====*/
.about__text{
  text-align: justify;
  text-justify: inter-word;
}
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}

/* ====Education====*/
.education__container{
  row-gap: 2rem;
  text-align: left;
}
.qualif__subtitle{
  margin-bottom: var(--mb-2);
  margin-left:10px;
}
.qualif__icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  margin-left:10px;
  margin-top: 15px;
  color: var(--second-color);
}
.qualif__text
{
  margin-left: 10px;
}
.education__data
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__django{
  width: 70%;
}
.skills__cpp{
  width: 90%;
}
.skills__kotlin{
  width: 80%;
}
.skills__python{
  width: 95%;
}
.skills__competitiveprogramming{
  width: 85%;
}
.skills__machinelearning{
  width: 80%;
}
.skills__dsa{
  width: 95%;
}
.skills__frontend{
  width: 50%;
}
.skills__img{
  border-radius: .5rem;
  max-width:80%;
}
/* familiar language*/
.familiar__container
{
  grid-template-columns: repeat(2,1fr);

}
.familiar_cont
{
  width: 250px;
  height: 250px;
  border: black solid 2px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;

}
.familiar__img
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.familiar__subtitle
{
  margin-left:10px;
  margin-top: 40px;
}
/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/*certificate*/
.certificate__container
{
  row-gap: 2rem;
  width: 20px;
  display: flex;
}
.certificate__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
  width: 60%;
  height: 86%;
  margin: auto;
}
.certificate__img img{
  transition: 1s;
  cursor: pointer;
}
.certificate__img img:hover{
  transform: scale(1.1);
}
/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-3);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color:  #ffffff;
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 350px;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .certificate__container
  {
    grid-template-columns: repeat(2,1fr);
    column-gap:2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
  .effect-4{
    display:block;

  }
}

/* experience css start here */

.exp-shadow{
  /* box-shadow:var(--outer-shadow); */
  box-shadow:0px 0px 10px #d0d0d0;
}



.experience{
  padding-bottom:80px;
}
.timeline{
  flex:0 0 100%;
  max-width:100%;
  position:relative;

}
.timeline:before{
  content:'';
  width:1px;
  height:100%;
  left:50%;
  top:0;
  background-color:var(--bg-black-50);
  position:absolute;
}

.timeline .timeline-item{
  flex:0 0 100%;
  max-width:100%;
  /* background-color:red; */
}
.timeline .timeline-item:nth-child(odd){
  padding-right: calc(50% + 50px);
}
.timeline .timeline-item:nth-child(even){
  padding-left: calc(50% + 50px);
}
.timeline .timeline-item-inner{
  padding:30px;
  border-radius: 5px;
  position:relative;
}
.timeline .timeline-item-inner:before{
  content:'';
  position: absolute;
  width:30px;
  height:1px;
  background-color: var(--bg-black-100);
  top:37px;
  z-index: -1;

}
.timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
  right: -30px;
}

.timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
  left: -30px;
}


.timeline .timeline-item-inner .icon{
  height:40px;
  width:40px;
  background-color: var(--bg-black-50);;
  text-align: center;
  border: 1px solid var(--bg-black-100);
  line-height:40px;
  border-radius: 50%;
  font-size:16px;
  color: #4070F4;
  position:absolute;
  top:18px;
}

.timeline .timeline-item:nth-child(odd) .icon{
  right:-70px;
}

.timeline .timeline-item:nth-child(even) .icon{
  left:-70px;
}

.timeline .timeline-item-inner span{
  font-weight: 500;
  color:#4070F4;
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;


}
.timeline .timeline-item-inner h3{
  font-size:20px;
  font-weight600;
  color: var(--text-black-700);
  margin: 0 0 5px;
  text-transform: capitalize;

}
.timeline .timeline-item-inner h4{
  font-size:16px;
  color: var(--text-black-600);
  font-style:italic;
  margin:0;
}
.timeline .timeline-item-inner p{
  line-height:26px;
  font-size:16px;
  color:var(--text-black-600);
  line-height:26px;
  margin: 15px 0 0;
}

.timeline .timeline-item-inner ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.timeline .timeline-item-inner ul{
  list-style-type: square;
}
.expimg{
  position: relative;
  }
.expimg img{
  flex: 5 0 50%;
  margin: auto;
 padding: 0 5px;
 max-width: 100%;
 width: 100px;
 position: absolute;
 top: 0px;
 right: 0px;

}

/* experience css END here */

/* footer  css stat here */
.menubottompic {
background: url("../img/mbt-footer.png") repeat-x scroll left top transparent;
width: 100%;
height: 62px;
margin: 10px auto -15px;
position: relative;
z-index: 9999;
box-shadow: 1px -3px 1px rgb(23, 81, 255);
}
.menubottom-container {
width:950px;
margin:0px auto;
padding:0px;

}
/* footer css end here */


@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
    bottom: 15%;
  }
}
